<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Shvednazar994/Desktop/firstSeleniumProject/src/seleniumFrameworks">
        <classes>
        <class name = "seleniumFrameworks.Day1"/>
            <class name = "seleniumFrameworks.Day2"/>
        </classes>
    </test>
    <test name="day3">
        <classes>
            <class name="seleniumFrameworks.Day3"/>
        </classes>
    </test>
</suite>